@charset "utf-8";

:root {
  --gdf_component_align: left;
  --gdf_component_horizontal: center;
  --gdf_component_vertical: center;
  --gdf_component_padding: 0 0 0 0;
  --gdf_component_margin: 0 0 0 0;
  --gdf_component_gap: 0;
  --gdf_component_background-image: initial;
  --gdf_component_background-color: initial;
  --gdf_component_border-width: initial;
  --gdf_component_border-color: initial;
  --gdf_component_border-radius: initial;
  --gdf_component_border-style: initial;
  --gdf_component_height: auto;
  --gdf_component_width: auto;
  --gdf_component_font-size: 1rem;
  --gdf_component_font-weight: normal;
  --gdf_component_font-style: normal;
  --gdf_component_font-family: sans-serif;
  --gdf_component_font-color: #000000;
  --gdf_component_input_placeholder_opacity: .5;
}


.gdf_base_form,
.gdf_base_row,
.gdf_base_col {
  display: flex;
  flex-flow: nowrap row;
  height: var(--gdf_component_height, 2rem);
  width: var(--gdf_component_width, 100%);
  border-width: var(--gdf_component_border-width, 0px);
  border-color: var(--gdf_component_border-color, #000000);
  border-style: var(--gdf_component_border-style, solid);
  border-radius: var(--gdf_component_border-radius, 0px);
  padding: var(--gdf_component_padding, 0 0 0 0);
  margin: var(--gdf_component_margin, 0 0 0 0);
  background-color: var(--gdf_component_background-color, #ffffff);
  background-image: var(--gdf_component_background-image, none);
  font-size: var(--gdf_component_font-size, 1rem);
  font-weight: var(--gdf_component_font-weight, normal);
  font-style: var(--gdf_component_font-style, normal);
  font-family: var(--gdf_component_font-family, sans-serif);
  color: var(--gdf_component_font-color, #000000);
  text-align: var(--gdf_component_align, left);
  justify-content: var(--gdf_component_horizontal, space-between);
  align-items: var(--gdf_component_vertical, center);
  gap: var(--gdf_component_gap, 0);
}

.gdf_base_form {
  flex-flow: column nowrap;
}

.gdf_base_component_container {
  display: flex;
  flex-flow: nowrap row;
  padding: var(--gdf_component_padding, 0 0 0 0);
  margin: var(--gdf_component_margin, 0 0 0 0);
}

.gdf_base_wrong{
  color: red;
}

.gdf_base_icon_blur:has(+.gdf_base_icon_focus),
.gdf_base_icon_focus{
  display: none;
}

.gdf_base_icon_blur:has(~ .gdf_base_component_input:not(:focus)),
.gdf_base_icon_focus:has(~ .gdf_base_component_input:focus){
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
  align-items: center;
}

.gdf_input_component_container {
  display: flex;
  flex-flow: nowrap row;
  justify-content: var(--gdf_component_horizontal, space-between);
  align-items: var(--gdf_component_vertical, center);
  height: var(--gdf_component_height, 2rem);
  width: 100%;
  border-radius: var(--gdf_component_border-radius, 0px);
  padding: var(--gdf_component_padding, 0 0 0 0);
  margin: var(--gdf_component_margin, 0 0 0 0);
  background-color: var(--gdf_component_background-color, #ffffff);
  background-image: var(--gdf_component_background-image, none);
}

.gdf_input_component_icon{
  height: var(--gdf_component_height, 2rem);
  margin: 0;
  padding: 0;
}

.gdf_input_component_icon img{
  object-fit: contain;
  height: var(--gdf_component_height, 2rem);
}

.gdf_input_component_input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  margin: 0;
  height: var(--gdf_component_height, 2rem);
  font-size: var(--gdf_component_font-size, 1rem);
  font-weight: var(--gdf_component_font-weight, normal);
  font-style: var(--gdf_component_font-style, normal);
  font-family: var(--gdf_component_font-family, sans-serif);
  color: var(--gdf_component_font-color, #000000);
  text-align: var(--gdf_component_align, left);
}

.gdf_input_component_input::placeholder {
  color: var(--gdf_component_font-color, #000000);
  opacity: var(--gdf_component_input_placeholder_opacity, .5);
}
