@charset "utf-8";

.gdf_base_form {
  --gdf_form_align: left;
  --gdf_form_horizontal: center;
  --gdf_form_vertical: center;
  --gdf_form_padding: 0 0 0 0;
  --gdf_form_margin: 0 0 0 0;
  --gdf_form_gap: 0;
  --gdf_form_background-image: initial;
  --gdf_form_background-color: initial;
  --gdf_form_border-width: initial;
  --gdf_form_border-color: initial;
  --gdf_form_border-radius: initial;
  --gdf_form_border-style: initial;
  --gdf_form_height: auto;
  --gdf_form_width: auto;
  --gdf_form_font-size: 1rem;
  --gdf_form_font-weight: normal;
  --gdf_form_font-style: normal;
  --gdf_form_font-family: sans-serif;
  --gdf_form_font-color: #000000;
  --gdf_form_input_placeholder_opacity: .5;

  display: flex;
  flex-flow: column nowrap;
  height: var(--gdf_form_height, 2rem);
  width: var(--gdf_form_width, 100%);
  border-width: var(--gdf_form_border-width, 0px);
  border-color: var(--gdf_form_border-color, #000000);
  border-style: var(--gdf_form_border-style, solid);
  border-radius: var(--gdf_form_border-radius, 0px);
  padding: var(--gdf_form_padding, 0 0 0 0);
  margin: var(--gdf_form_margin, 0 0 0 0);
  background-color: var(--gdf_form_background-color, transparent);
  background-image: var(--gdf_form_background-image, none);
  font-size: var(--gdf_form_font-size, 1rem);
  font-weight: var(--gdf_form_font-weight, normal);
  font-style: var(--gdf_form_font-style, normal);
  font-family: var(--gdf_form_font-family, sans-serif);
  color: var(--gdf_form_font-color, #000000);
  text-align: var(--gdf_form_align, left);
  justify-content: var(--gdf_form_horizontal, space-between);
  align-items: var(--gdf_form_vertical, center);
  gap: var(--gdf_form_gap, 0);
}
