@charset "UTF-8";

.gdf_component_button{
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background: transparent;
  color: inherit;
  font-size: inherit;
}

.gdf_component_button:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}
